body {
    background-color: #333;
    color: white;
}

.card {
    background-color: black;
    min-height: 20rem;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.d-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

fieldset {
    border: 3px solid maroon !important;
    padding: 8px;
    margin-top: 40px;
}

legend > span {
    border: solid 2px solid maroon;
    padding: 2px;
}